<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" /> 
        <title>API Documentation</title>
            <!-- :css -->
            <!-- :script -->
    </head>
    <body>  

        <div class="margin5">
            <div class="column_center">
                <p class="title"><!-- :title --></p>
                <p class="text1"><i>version: <!-- :version --></i></p>
            </div>
        </div>

        <!-- :nav-items -->
        
        <div class="margin1">
            <div class="margin2">
                <p class="text2"><b>Serveurs</b></p>
                <p class="text1 indented"> <!-- :serveur --> </p>
            </div>
            <!-- :endpoints -->
        </div>
    </body>
</html>