
.column_center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.nav{
    position: fixed;
    inset-inline-start: 0px;
    inset-block-start: 0px;
    background: rgb(26, 26, 26);
    height: 100vh;
    width: 13vw;
    box-shadow: 2px 2px 2px rgb(121, 121, 121);
    padding-top: 60px;
}

.nav_item_activated{
    text-align: center;
    font: 20px "Times New Roman", Serif;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin: 25px 0px 25px 0px;
    text-decoration: none;
    display: block;
}

.nav_item_desactivated{
    text-align: center;
    font: 20px "Times New Roman", Serif;
    cursor: pointer;
    color: rgb(133, 133, 133);
    margin: 25px 0px 25px 0px;
    text-decoration: none;
    display: block;
}

.column_left{
    display: flex;
    align-items: left;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
}

.inline{
    display : inline-block;
}

.margin1{
    margin: 100px 0px 0px 20vw;
}

.margin2{
    margin: 70px 0px 70px 0px;
}

.margin3{
    margin: 40px 0px 0px 50px;
}

.margin4{
    margin: 40px 0px 0px 0px;
}

.margin5{
    margin: 70px 0px 0px 20vw;
}

.max_width_1{
    max-width: 400px;
}

.indented{
    margin-left: 40px;
}

.demi_indented{
    margin-left: 20px;
}

.bgreen{
    background-color: rgb(25, 206, 25);
}

.bblue{
    background-color: rgb(52, 110, 175);
}

.blightblue{
    background-color: rgb(73, 156, 233);
}

.bred{
    background-color: rgb(230, 28, 28);
}

.borange{
    background-color: rgb(250, 123, 20);
}

.bpurple{
    background-color: rgb(173, 74, 231);
}

.method_badge{
    padding: 6px 8px 6px 8px;
    margin: 5px 0px 5px 0px;
    border-radius: 8px 8px 8px 8px;
    color: rgb(255,255,255);
    font: bold 21px "Times New Roman", Serif;
    display: inline-block;
    box-shadow: 2px 2px 3px rgb(0,0,0);
}

.status_badge{
    padding: 5px 6px 5px 6px;
    margin: 5px 7px 5px 7px;
    border-radius: 8px 8px 8px 8px;
    color: rgb(255,255,255);
    font: bold 17px "Times New Roman", Serif;
    display: inline-block;
    
}

.title{
    text-align: left;
    display: block;
    font: bold 45px "Times New Roman", Serif;
    margin: 0px 0px 5px 0px;
    color: rgb(250, 123, 20);
}

.text1{
    text-align: left;
    font: 20px "Times New Roman", Serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text2{
    text-align: left;
    font: 23px "Times New Roman", Serif;
    margin-top: 25px;
    margin-bottom: 21px;
}

.text3{
    text-align: left;
    font: 17px "Times New Roman", Serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text4{
    text-align: left;
    font: bold 36px "Times New Roman", Serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tab_activated{
    box-shadow: 3px 0px 2px rgb(117, 117, 117);
    margin: 0px 8px 0px 0px; 
    border: 0px solid rgb(71, 71, 71);
    padding: 6px 8px 6px 8px;
    cursor: default;
    display: inline-block;
    background-image : linear-gradient(180deg, rgb(21, 28, 80), rgb(70, 92, 221));
    text-align: center;
    border-radius: 6px 15px 0px 0px;
    font: 14px "Times New Roman", Serif;
    width: 140px;
    color: rgb(255,255,255);
}

.tab_desactivated{
    box-shadow: 3px 0px 2px rgb(117, 117, 117);
    margin: 0px 8px 0px 0px; 
    border: 0px solid rgb(71, 71, 71);
    padding: 6px 8px 6px 8px;
    cursor: default;
    display: inline-block;
    background-image : linear-gradient(180deg, rgb(19, 19, 19), rgb(116, 116, 116));
    text-align: center;
    border-radius: 6px 15px 0px 0px;
    font: 14px "Times New Roman", Serif;
    width: 140px;
    color: rgb(255,255,255);
}

.tab_div{
    overflow: auto;
    scrollbar-width: auto;
    max-height: 200px;
    border-radius: 0px 12px 12px 12px;
    border: 3px solid rgb(70, 92, 221);
    box-shadow: 3px 2px 2px rgb(117, 117, 117);
    background-color: rgb(32, 32, 32);
    width: 500px;
}

.tab_text{
    margin: 0px 8px 10px 0px;
    padding: 9px 12px 9px 12px;
    font: 15px "Times New Roman", Serif;
    color: rgb(255, 255, 255);
    height: 160px;
}