
server:
    ssl:
        enabled: false

spring:
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        generate-ddl: true
    datasource:
        url: jdbc:h2:mem:testdb
        driverClassName: org.h2.Driver
        username: testUser
        password: password